<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Student Form</title>
</head>
<body>
	<form th:action="@{/processStudentForm}" th:object="${student}"
		method="post">
		First name: <input type="text" th:field="*{firstName}" /> <br> <br>
		Last name: <input type="text" th:field="*{lastName}" /> <br>
		<!-- 	<br> Country: <br> <select th:field="*{country}">
			<option th:value="Brazil">Brazil</option>
			<option th:value="France">France</option>
		</select> <br> -->
		Country: <select th:field="*{country}">
			<option th:each="tempCountry :${countries}" th:value="${tempCountry}"
				th:text="${tempCountry}" />
		<br>
		Favorite Programming Language:
		<input type="radio" th:field="*{favLanguage}" th:each="language : ${languages}" th:value="${language}" th:text="${language}"/>
		</select> <br> <input type="submit" value="Submit" />
	</form>
</body>
</html>